.header {
	width: 1280px;
	height: 525px;
	background-image:url('../images/Header1280_525.png');
}
.top-menu {}
.top-menu__trademark {}
.company-logo {}
.company-name {}
.company-name__adjective {}
.company-name__name {}
.top-menu__navigation {}
.top-menu__order {}
.content-description {}